body {

}
h2, p {
    text-align: center;
}

img {
width: 70%;
margin-left: 180px;

}
.text {
    margin-top: 25px;
    font-size: 18px;
}
.header {
    margin-top: 25px;
    font-size: 24px;
}
#soFar {
    margin-bottom: 25px;
}